@defer(on immediate) {
    <div class="cat-container">
      @for (cat of cats; track cat.id) {
      <div
        class="cat-preview-container"
      >
        <div class="cat-preview-content">
          <h2>{{ cat.name }}</h2>
          <p>Age: {{ cat.age }} years</p>
      <p>Weight: {{ cat.weight }} lbs</p>
      <p>Breed: {{ cat.breed }}</p>
      <p>Color: {{ cat.color }}</p>
          <!-- Actions -->
          <div class="cat-actions">
            <button (click)="onEdit(cat)">Edit</button>
            <button (click)="onDelete(cat.id)">Delete</button>
            <button (click)="onTrackFitness(cat)">Track Fitness</button>
          </div>
        </div>
        <!-- <img
          src=""
          alt="cat image"
          class="cat-image"
        /> -->
      </div>
      }
    </div>
    }
